/**
 * Hides the toolbox when not in fullscreen mode.
 */
 html:not([inFullscreen="true"]) {
  #navigator-toolbox:hover,
  #navigator-toolbox:has(#urlbar:is([focused], [open])) {
    top: 0;
    transition: all 0.3s ease !important;

    background-color: var(--lwt-accent-color) !important;
    border-bottom: 1px solid var(--chrome-content-separator-color) !important;

    #nav-bar {
      background-color: var(--toolbar-bgcolor) !important;

      #urlbar-background {
        background-color: var(--toolbar-field-background-color) !important;
      }
    }
  }

  #navigator-toolbox {
    /* Make it sit on top of the page. */
    position: absolute;
    right: 0;
    top: -75px;
    transition: all 0.3s ease !important;
    width: 100%;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0) !important;
    border-bottom: none !important;

    #nav-bar {
      background-color: rgba(0, 0, 0, 0) !important;

      /* Reset urlbar background when focused */
      #urlbar:is([focused="true"], [open]) {
        #urlbar-background {
          background-color: var(--toolbar-field-focus-background-color) !important;
        }
      }

      #urlbar-background {
        background-color: rgba(0, 0, 0, 0) !important;
      }
    }
  }
}

/** Repeats the ruleset when Firefox's menu is open. */
html:not([inFullscreen="true"]):has(#appMenu-popup:is([panelopen="true"])) {
  #navigator-toolbox {
    top: 0;
    transition: all 0.3s ease !important;

    background-color: var(--lwt-accent-color) !important;
    border-bottom: 1px solid var(--chrome-content-separator-color) !important;

    #nav-bar {
      background-color: var(--toolbar-bgcolor) !important;

      #urlbar-background {
        background-color: var(--toolbar-field-background-color) !important;
      }
    }
  }
}
